h1 {
    color: crimson;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 60px;
  }

   
.pc {
  display: flex;
  justify-content: first baseline;
}
article {
  color: brown;
  font-size: larger;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 40%;
}
div {
  font-size: 20px;
  color: aliceblue;
}

.genero {
  color: brown;
  padding-top: 30px;
  padding-left: 40%;
  font-size: larger;
  font-weight: bold;
}
.mapa {
  width: 150;
  height: 150;
  padding-top: 20px;
  margin-left: 700px;
  border-radius: 40px;
}
