h2 {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 10px;
    color: yellowgreen;
    background-color: gray;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
  }
.parrafosTres {
    color: black;
   font-size: 30px;
    font-weight: normal;
    padding-top: 50px;
    padding-left: 10%;
  }