h1 {
    color: crimson;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 60px;
  }


.parrafoDos {
    color: black;
    font-size: x-large;
    margin-left: 70px;
    padding-top: 70px;
  }