@import url("https://fonts.googleapis.com/css2? family= Nanum+Gothic:wght@700 & family= Oleo+Script+Swash+Caps & family= Oswald:wght@200 & family= Overpass:wght@500 & family= PT+Serif:wght@700 & family= Poppins:wght@600 & display=swap");

* {
    padding: 0px;
    margin: 0px;
  }
  html {
    font-size: 62.5%;
  }
  
  #grilla {
  width: 100%;
  height: 100%;
}




section#logoTipo {
    grid-area: section;
    background-color: black;
  }
  
  header {
    grid-area: header;
    background-color: black;
  }
  
  nav {
    grid-area: nav;
    background-color: yellowgreen;
  }
  
  section#Productos {
    grid-area: productos;
    background-color: white;
  }
  
  section#servicios {
    grid-area: servicios;
    background-color: white;
  }
  
  aside {
    grid-area: publicidad;
    background-color: white;
  }
  
  footer {
    grid-area: footer;
    background-color: grey;
  }
  
@media (max-width: 480px) {
    #grilla {
      display: grid;
      grid-template-areas: "section" "header" "nav" "productos" "publicidad" "servicios" "footer";
      grid-template-columns: 100%;
      grid-template-rows: 100px 50px 3fr 2fr 2fr 1fr 0, 5fr;
      gap: 0px;
    }
  }
  @media (min-width: 1024px) {
    #grilla {
      display: grid;
      grid-template-areas: "section header header" "nav nav nav" "productos productos productos" "servicios servicios servicios" "publicidad publicidad publicidad" "footer footer footer";
      grid-template-columns: 15% auto 10%;
      grid-template-rows: 100px 50px 2fr 0, 5fr 2fr;
      gap: 0px;
    }
    }