h1 {
    color: crimson;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 60px;
  }

p {
    padding-top: 50px;
    padding-left: 50px;
    color: darkmagenta;
  }
  .fotoPrecios {
    width: 300px;
    height: 350px;
    padding-top: 40px;
    padding-left: 50%;
  }