h1 {
    color: crimson;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 60px;
  }
  .flex {
    padding-top: 30px;
    width: 200px;
    height: 150;
    margin-left: 50px;
    margin-bottom: 80px;
  }

  .flex2 {
    width: 220px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 80px;
  }

  span {
    display: flex;
    flex-direction: row;
  }

  .email {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 60px;
  }