
 h2 {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 10px;
    color: yellowgreen;
    background-color: gray;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
  }


.parrafos {
    color: black;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Times New Roman", Times, serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
  }